<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <%- include("headerNav") %>
        <h1><%= title %></h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Password Catagory Name</th>
                    <th>Project Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(passwordList.length > 0) {
                    passwordList.forEach(function(password){ %>
                <tr>
                    <td><%= password.passwordCatagory %></td>
                    <td><%= password.projectName %></td>
                    <!-- <td><%= password.passwordDetail %></td> -->
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#viewModal<%=password._id %>">
                            <i class="fa fa-eye"></i>
                        </button>
                        <a class="btn btn-success btn-sm" href="/password-list/edit/<%=password._id %>"><i
                                class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm" href="/password-list/delete/<%=password._id %>"
                            onclick="return confirm('Are you Sure ?')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <!-- View Password Modal STARTs here -->
                <div class="modal fade" id="viewModal<%=password._id %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><%= password.projectName %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <%- password.passwordDetail %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- View Password Modal Ends Here -->

                <% })} else{ %>
                <tr>
                    <td colspan="4">No Record Found</td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <!-- Pagination Start -->
        <% if(pages>0) { %>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if(Number(currentPage)==1) {%>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% }else{ %>
                    <li class="page-item"><a  class="page-link" href="/password-list/1">First</a></li>
                <%} %>
                <% var i= (Number(currentPage) >5 ? Number(currentPage)-4: 1) %>
                <% if(i !==1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <%} %>
                <% for (; i <= (Number(currentPage)+ 4) && i <= pages; i++) { %>
                <% if (i == currentPage) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/password-list/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(currentPage) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
                <% if (currentPage == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/password-list/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        </nav>
        <%} %>
        <!-- Pagination End -->
    </div>
    <!-- List of data table ENDs here -->
    <%- include("footer") %>
</body>

</html>